[submodule "template/tools/universal-modder"]
	path = template/tools/universal-modder
	url = https://github.com/rehan-remade/universal-modder.git
[submodule "tools/universal-modder"]
	path = tools/universal-modder
	url = https://github.com/rehan-remade/universal-modder.git
